/* Soluzione qui */

/* ======================
Breakpoint
576px       768px       992px
Mobile      Tablet      Desktop
====================== */


/* ======================
    Mobile Large
====================== */
@media screen and (min-width: 576px) {
    .btn {
        transition: flex-grow 0.5s ease-in-out;
        flex-grow: 1;
    }

    .presentation .clearfix img {
        display: inline;
        float: left;
        margin-right: 10px;
    }
}



/* ======================
    Tablet 
====================== */
@media screen and (min-width: 768px) {
    #topbar {
        justify-content: left;
    }

    .container {
        transition: padding 0.5s ease-in-out;
        padding: 30px;
    }

    .recipe-origin {
        display: inline;
    }

    .recipe-name {
        transition: font-size 0.5s ease-in-out;
        font-size: 1.7em;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 25px;
        width: 100%;
    }

    ul li {
        flex-basis: calc(100% / 3) - ((25*2) / 3);
        min-width: calc(100% / 4);
    }

    /*
    .btn {
        transition: flex-grow 0.5s ease-in-out;
        flex-grow: 1;
    }
        */
    .ads {
        display: block;
    }

    /*
    .presentation .clearfix img {
        display: inline;
        float: left;
        margin-right: 10px;
    }
        */
}


/* ======================
    Desktop 
====================== */
@media screen and (min-width: 992px) {
    .recipe-name {
        font-size: 2.5em;
    }

    ul {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .recipe-card {
        display: flex;
    }

    .recipe-video iframe {
        aspect-ratio: 16/9;
    }

    .recipe-video {
        transition: flex-grow 0.5s ease-in-out;
        flex-grow: 3;
        max-height: 500px;
    }

    .recipe-info {
        transition: flex-grow 0.5s ease-in-out;
        flex-grow: 1;
        justify-content: flex-start;
    }

    /* OPPURE
    .recipe-card {
        display: flex;
        
          .recipe-video iframe {
            aspect-ratio: 16/9;
        }
        .recipe-video {
            transition: flex-grow 0.5s ease-in-out;
            flex-grow: 3;
            max-height: 500px;
        }
        .recipe-info {
            transition: flex-grow 0.5s ease-in-out;
            flex-grow: 1;
            justify-content: flex-start;
        }  
    }
    */

    .quick-notes li {
        margin-top: 5px;
        margin-bottom: 0px;
    }

    .social-networks .label {
        display: inline-block;
    }

    footer {
        display: flex;
        justify-content: space-between;
    }

    footer ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 5px;
    }

    footer address {
        text-align: left;
    }

    footer li {
        margin: 10px 0;
    }
}