/* Soluzione qui */

/* ======================
Breakpoint
576px       768px       992px
Mobile      Tablet      Desktop
====================== */


/* ======================
    Mobile Large
====================== */
@media screen and (min-width: 576px) {
    
}



/* ======================
    Tablet 
====================== */
@media screen and (min-width: 769px) {
    #topbar {
        justify-content: left;
    }
    .container {
        padding: 40px;
    }
    .recipe-origin {
        display: inline-block;
    }
    .recipe-name {
        font-size: 1.7em;
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 25px;
        width: 100%;
    }
    ul li {
        flex-basis: calc(100% / 3) - ((25*2) / 3);
        min-width: calc(100% / 4);
    }
    .btn {
        transition: flex-grow 0.5s ease-in-out;
        flex-grow: 1;
    }
    .ads {
        display: block;
    }
    .presentation .clearfix img {
        display: inline;
        float: left;
        margin-right: 10px;
    }
}  


/* ======================
    Desktop 
====================== */
@media screen and (min-width: 993px) {
    
}